extends ../layout/main
block variable
  -
    var title_page = '404'
    var id_page = 'id-page-404'
    var class_page = 'class-page-404'
    var headerCustomClass = 'type1' 
    var title = "ТУТ МАЛА БУТИ СТОРІНКА… "
    var subtitle = "Ми вже працюємо над цим"
    var descriptionStrong = ''
    var descriptionNormal = ''

    var bgImg = {
    src: "./assets/images/404/404-hero-bg.jpg",
    alt: "building"
    }

    var heroClasses = {
    title: "",
    subtitle: ""
    }

    var anchor = '#not-found-section' 
block meta
    title= title_page
    meta(name='description' content='')
    
block head
    link(rel='stylesheet' href="./assets/styles/main.min.css")

block scripts
    script(defer src='./assets/scripts/vendors.bundle.js')
    script(defer src='./assets/scripts/header.bundle.js')
    script(defer src='./assets/scripts/footer.bundle.js')

block content

  section.hero-page.not-found-section
    .left-side.container 
      h1(class=heroClasses.title).left-side__title=title 
      h4(class=heroClasses.subtitle).left-side__subtitle=subtitle

      div.nav-block
        p.nav-block-text Трішки терпіння — і все буде. А поки можна повернутись до головної сторінки.

        ul.nav-block-list
          li.nav-block-item
            a(href="#" target="_blank").general-btn.nav-block-link.back-link <span>Назад</span>
          li.nav-block-item
            a(href="#" target="_blank").general-btn.nav-block-link <span>На головну</span>

      <svg class="left-side__overlap" viewBox="0 0 960 715" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1224_8354)">
          <path d="M117.701 373.79C38.4279 264.785 0.537078 137.984 0 0V715H960C581.897 706.532 278.072 594.382 117.701 373.79Z" fill="currentColor"/>
        </g>
      </svg>

    .right-side
      img.right-side__bg(src=bgImg.src, alt=bgImg.alt)
      <svg class="right-side__overlap" viewBox="0 0 960 715" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1224_8354)">
          <path d="M117.701 373.79C38.4279 264.785 0.537078 137.984 0 0V715H960C581.897 706.532 278.072 594.382 117.701 373.79Z" fill="currentColor"/>
        </g>
      </svg>


      div.icon-text-block
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" fill="none" class="icon-404">
          <path d="M60 0C93.1371 0 120 26.8629 120 60C120 93.1371 93.1371 120 60 120C26.863 120 3.04917e-06 93.137 0 60C0 26.863 26.863 0.000109704 60 0ZM18.623 65.0693V73.251H56.9746V86.2598C56.9748 97.035 65.7101 105.77 76.4854 105.771C87.2607 105.771 95.9959 97.0351 95.9961 86.2598V73.251H101.197V65.0693H18.623ZM72.3945 73.251V84.8857H80.5762V73.251H87.8145V86.2598C87.8142 92.5164 82.742 97.5879 76.4854 97.5879C70.2288 97.5877 65.1565 92.5163 65.1562 86.2598V73.251H72.3945ZM37.5537 36.0459L30.5234 29.0156L24.7383 34.8008L31.7686 41.832L24.7383 48.8633L30.5234 54.6484L37.5537 47.6172L44.585 54.6484L47.4775 51.7559L50.3711 48.8633L43.3398 41.832L50.3711 34.8008L47.4775 31.9082L44.585 29.0156L37.5537 36.0459ZM79.5391 36.0469L72.5078 29.0156L66.7227 34.8008L73.7539 41.832L66.7227 48.8633L72.5078 54.6484L79.5391 47.6172L86.5703 54.6484L92.3555 48.8633L85.3242 41.832L92.3555 34.8008L86.5703 29.0156L79.5391 36.0469Z" fill="#9F9E8A"/>
        </svg>
        p.text-404 404

block footer
    include ../includes/footer.pug

block header
    include ../includes/header.pug

